.menu-wrapper {
  margin: 0.5em auto;

  .menu {
    background-color: #444;
    padding: 0.5em;
    font-size: large;
    font-weight: 400;
    text-align: center;

    &.auth-menu {
      background-color: #004;
    }

    .nav-item {
      margin: 0 1em;
      border-radius: 0.2em;
      border: thin solid #ccc;
      background-color: transparent;
      padding: 0.2em 1em;
      
      a {
        text-decoration: none;
        color: #ccc;
      }

      &:hover {
        background-color: #ccc;
        color: #000;

        a {
          color: #000;
        }
      }

    }
  }
}
